<<<<<<< HEAD
 #container{
    margin-top: 50px; 
    margin-left: 100px; 
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: rgb(200,200,200);
    border: 1px solid #D6A800; 
    padding: 10px;   
}

a {
    color: blue; 
    text-decoration: none;
}

a:hover {
    color: green; 
}

a:visited {
    color: black;
}
=======

>>>>>>> cd2ea2b79837788fbd88085193be04ae64fbc27e
