html, body {
    font-size: 16px;
}

p {
    font-weight: 400;
    line-height: 1.4em
}

h1 {
    font-weight: 700; 
    text-transform: uppercase;
    text-align: center; 
}

h2 {
    font-weight: 500; 
    text-align: left; 
    padding-top: 15px; 
}

address {
    text-align: center; 
}

a {
    font-weight: bold; 
    font-size: 1.25em;
    font-color:#4F3674; 
    text-decoration: none; 
}

a:visited {
    color: black; 
}

a:hover {
    background-color: #D6A800;
    text-decoration-line: underline; 
    
}

.sentence {
    font-style: italic; 
}

.intro {
    text-indent: 2em;
}

.last {
    margin-top: 60%; /*Last div has a margin-top of 60% this will help control the gap between the sections on the top side */
    width: 100%; /* Last div has a width set to 100% */
    position: fixed; /*I added this so the link will stay put even when we scroll along with not having to scroll to find it */
    bottom:0; 
    right: 0;  
    
}
a {
    text-decoration: none; 
    float:right; 
    margin-bottom: 20px; 
    padding: 20px; 
}

a:hover{
    text-decoration: underline; 
}
