h1 {
    text-align: center; /*Centered on the Page the H1 header*/
}

.left, .right{
    width: 45%;
    display: inline-block; /* The left and the right div, using an inline block and have a width of 45% along with being aligned vertically at the top. */
    vertical-align: top;  
    
}

.left {
    border-radius: 15px; 
    margin-right: 20px; 
    border: 1px solid red;
    list-style-position: inside;
    padding:10px; 
}

.right {
    margin-left: 20px; 
    border-radius: 15px; 
    border: 1px dashed red; 
    list-style-position: inside; 
    padding: 10px; 
}

.underneath {
    width: 100%;
    margin-top: 60%;
}

.last {
    margin-top: 60%; /*Last div has a margin-top of 60% this will help control the gap between the sections on the top side */
    width: 100%; /* Last div has a width set to 100% */
    position: fixed; /*I added this so the link will stay put even when we scroll along with not having to scroll to find it */
    bottom:0; 
    right: 0;  
    
}
a {
    text-decoration: none; 
    float:right; 
    margin-bottom: 20px; 
    padding: 20px; 
}

a:hover{
    text-decoration: underline; 
}


h3 {
    font-weight: 500; /*Set the weight of the headings to 500 also padded them to line up with the lists. */
}

ol { 
    font-weight: 300; 
    
}

ul {
    font-weight: 300; 
    list-style-type: upper-roman;
    
}
